@model List<Core.Entities.Mesa>
@using CrossCutting

<div class="text-center">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        @foreach (var mesa in Model)
        {
            <div class="col">
                @if (mesa.EmUso)
                {
                    //<a href="/Sales/Order?idmesa=@mesa.Id&idorder=@mesa.IdPedido">
                    <div class="box box-solid bg-secondary">
                        <div class="box-header">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-6 col-md-6 col-lg-12">
                                        <h4 class="box-title" style="float:left">
                                            <a href="/Sales/Order?idmesa=@mesa.Id&idorder=@mesa.IdPedido"> <strong>Mesa <b>@mesa.Numero.ToString("000")</b></strong></a>
                                        </h4>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-12">
                                        <span class="badge bg-danger badge-pill " style="float:right">Mesa Ocupada</span>
                                        @*<span class="badge bg-danger badge-pill">Pedido na cozinha</span>
                <span class="badge bg-danger badge-pill">Mesa Pediu Conta</span>*@
                                    </div>
                                </div>
                            </div>
                            </div>
                            <div class="box-body">
                                <a href="/Sales/Order?idmesa=@mesa.Id&idorder=@mesa.IdPedido">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12" style="display: inline-flex;">

                                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0px 15px 0px 0px;">
                                                <i class="icon-Calculator"></i> Sub-Total <br />
                                                <b>@mesa.ValorPedido.Value.FormatMoney(false)</b>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4" style="padding: 0px 15px 0px 0px;">
                                                <i class="icon-Calculator"></i> Total <br />
                                                <b>@mesa.ValorPedido.Value.FormatMoney(false)</b>
                                            </div>
                                            <div class="col-sm-4 col-md-4 col-lg-4">
                                                <i class="icon-User"></i> Atendente <br />
                                                @mesa.Atendente.FirstName()
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">

                                    </li>
                                    <li class="list-group-item">
                                        <i class="icon-Clock"></i> Tempo de uso da mesa:
                                        @mesa.Tempo
                                    </li>
                                </ul>
                            </a>
                        </div>
                        <div class="box-footer flexbox">
                            <input type="checkbox" id="chkSetValorTotal_@mesa.IdPedido" checked onclick="recalcularValorPedido(this.checked,@mesa.IdPedido,@mesa.ValorPedido.Value,@mesa.TaxaServico);">
                            <label for="chkSetValorTotal_@mesa.IdPedido">Taxa de serviço aceita?</label>
                            <div class="text-end flex-grow">
                                <button class="btn btn-sm btn-danger" onclick="setPedidoPago(@mesa.IdPedido)"><i class="fa fa-dollar"></i> Pagar</button>
                            </div>
                        </div>
                    </div>
                    //</a>
                }
                else
                {
                    <a href="/Sales/Order?idmesa=@mesa.Id">
                        <div class="box box-solid bg-danger">
                            <div class="box-header">
                                <h4 class="box-title"><strong>Mesa <b>@mesa.Numero.ToString("000")</b></strong></h4>
                            </div>
                            <div class="box-body" style="font-size:30px;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <img src="~/images/mesa.png" />
                                        <span>Livre</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                }

            </div>

        }
    </div>
</div>


<script>
    function recalcularValorPedido(checked, idpedido, totalitens, taxaservico) {
        var totalpedido = totalitens;
        if (checked) {
            totalpedido = calcularTotalPedidoComTaxaServico(totalitens, taxaservico);
        } 

        $("#totalpedido_" + idpedido).html(formatMoney(totalpedido,false));
    }

    function setPedidoPago(idpedido) {
        $.confirm({
            title: 'Atenção!',
            icon: 'fa fa-dollar',
            animation: 'scale',
            closeAnimation: 'scale',
            content: 'Pedido foi recebido pelo caixa?',
            buttons: {
                Sim: {
                    btnClass: 'btn-danger',
                    keys: ['enter', 'shift'],
                    action: function () {
                        $.ajax({
                            type: "post",
                            dataType: 'json',
                            data: {
                                'idpedido': idpedido, 'status': 6
                            },
                            url: hostSite() + "Sales/ChangeStatus",
                            success: function (data) {
                                if (data.success) {
                                    toastr.success("Pedido recebido com sucesso!", "Sucesso");
                                    window.location.reload();
                                }
                                else {
                                    toastr.error(data.message, "Erro");
                                }
                            }
                        });
                    }
                },
                Não: function () {

                }
            }
        });
    }
</script>