@model Core.Entities.Pedido
@using CrossCutting

<div class="row" id="itens">
    <div class="col-xxxl-8 col-12">
        <div class="box">
            <div class="box-header bg-danger">
                @if (Model.Itens.Count > 1)
                {
                    <h4 class="box-title">PEDIDO (@Model.Itens.Count ITEMS)</h4>
                }
                else
                {
                    <h4 class="box-title">PEDIDO (1 ITEM)</h4>
                }

            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Item</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Itens)
                            {
                                if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto)
                                {
                                    <tr class="bg-success">
                                        <td>
                                            <h5>@item.Menu.Nome</h5>
                                            @foreach (var excecao in item.Excecao)
                                            {
                                                <p>@excecao.Observacao</p>
                                            }

                                            <div class="act-btn d-flex justify-content-between">
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-edit"></i></a>
                                                    <small class="d-block">Editar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-primary-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                    <small class="d-block">Excluir</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                    <small class="d-block">Duplicar</small>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                                else
                                {
                                    <tr>
                                        <td>
                                            <h5 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h5>
                                            @foreach (var excecao in item.Excecao)
                                            {
                                                <p>@excecao.Observacao</p>
                                            }

                                            <div class="act-btn d-flex justify-content-between">
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-warning-light btn-xs mb-5"><i class="fa fa-edit"></i></a>
                                                    <small class="d-block">Editar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                    <small class="d-block">Cancelar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                    <small class="d-block">Duplicar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-check"></i></a>
                                                    <small class="d-block">Entregue</small>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }

                            }

                        </tbody>
                    </table>

                    @if (Model.CanCancel)
                    {
                        <button id="btnCancelarPedido" class="btn btn-danger pull-right"><i class="fa fa fa-trash"></i> Cacelar</button>
                    }

                    @if (Model.CanSend)
                    {
                        <button id="btnEnviarPedido" class="btn btn-success pull-right"><i class="fa fa fa-shopping-cart"></i> Enviar</button>
                    }


                    <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                </div>

            </div>
        </div>
    </div>
</div>