@model Core.Entities.Pedido
@using CrossCutting

<div class="row" id="itens">
    <div class="col-xxxl-8 col-12">
        <div class="box">
            <div class="box-header bg-danger">
                @{
                    var lstItens = Model.Itens;
                    if (lstItens == null)
                        lstItens = new List<Core.Entities.PedidoItem>();
                    else
                        lstItens = Model.Itens.Where(item => item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto
                        || item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado
                        || item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado).ToList();
                }
                @if (lstItens.Count > 1)
                {
                    <h4 class="box-title">PEDIDO (@lstItens.Count ITEMS)</h4>
                }
                else
                {
                    <h4 class="box-title">PEDIDO (1 ITEM)</h4>
                }

            </div>

            <div class="box-body">
                <div class="table-responsive">
                    <table class="table product-overview">
                        <thead>
                            <tr>
                                <th>Item</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.Itens)
                            {
                                if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: green;"></i>
                                                &nbsp;
                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                            </div>

                                            @foreach (var excecao in item.Excecao)
                                            {
                                                <p>@excecao.Observacao</p>
                                            }

                                            <div class="act-btn d-flex justify-content-between">
                                                <div class="text-center mx-5">
                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-primary-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                    <small class="d-block">Cancelar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                    <small class="d-block">Duplicar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-check"></i></a>
                                                    <small class="d-block">Entregue</small>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                                else if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: orange;"></i>
                                                &nbsp;
                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                            </div>


                                            @foreach (var excecao in item.Excecao)
                                            {
                                                <p>@excecao.Observacao</p>
                                            }

                                            <div class="act-btn d-flex justify-content-between">
                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="cancelarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                    <small class="d-block">Cancelar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                    <small class="d-block">Duplicar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="setItemEntregue(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-check"></i></a>
                                                    <small class="d-block">Entregue</small>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                                else if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado)
                                {
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                &nbsp;
                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                            </div>

                                            @foreach (var excecao in item.Excecao)
                                            {
                                                <p>@excecao.Observacao</p>
                                            }

                                            <div class="act-btn d-flex justify-content-between">

                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="cancelarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                    <small class="d-block">Cancelar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                    <small class="d-block">Duplicar</small>
                                                </div>
                                                <div class="text-center mx-5">
                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-check"></i></a>
                                                    <small class="d-block">Entregue</small>
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            }


                        </tbody>
                    </table>

                    @if (Model.CanCancel)
                    {
                        <button id="btnCancelarPedido" class="btn btn-danger pull-right"><i class="fa fa fa-trash"></i> Cacelar</button>
                    }

                    @if (Model.CanSend)
                    {
                        <button id="btnEnviarPedido" class="btn btn-success pull-right"><i class="fa fa fa-shopping-cart"></i> Enviar</button>
                    }

                    @if (Model.CanFecharPedido)
                    {
                        <button id="btnFecharPedido" class="btn btn-primary pull-right"><i class="fa fa fa-dollar"></i> Pagar</button>
                    }

                    <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                </div>

            </div>
        </div>
    </div>
</div>