@model Core.Entities.Pedido
@using CrossCutting
@inject Core.Interfaces.IUserSession usuario;

<style>
    .classRowDisplay {
        display: table-row !important;
    }
</style>

<div class="row" id="itens">
    <input id="urlPrintCozinha" type="hidden" value="@ViewBag.urlPrintCozinha">
    <input id="urlPrintCaixa" type="hidden" value="@ViewBag.urlPrintCaixa">

    <div class="col-xxxl-8 col-12">
        <div class="box">
            <div class="box-header bg-danger" style="display:inline-flex">
                <h4 style="margin-right:5px">Mesa @Model.IdMesa </h4>
                @{
                    var lstItens = Model.Itens.Where(item => item.Menu.TipoCategoria == Settings.TipoCategoria.Cozinha).ToList();

                    var lstItensBar = Model.Itens.Where(item => item.Menu.TipoCategoria == Settings.TipoCategoria.Bar).GroupBy(u => u.IdMenu)
                    .Select(grp => grp.ToList())
                    .ToList();

                    if (lstItens == null)
                    {
                        lstItens = new List<Core.Entities.PedidoItem>();
                    }

                }
                @if (lstItens.Count > 1)
                {
                    <h4 class="box-title">PEDIDO ((@lstItens.Count() + @lstItensBar.Count())  ITEMS)</h4>
                }
                else
                {
                    <h4 class="box-title">PEDIDO (1 ITEM)</h4>
                }

            </div>

            @{
                int qtdSolicitado = 0;
                List<Core.Entities.PedidoItem> lstBarSolic = new List<Core.Entities.PedidoItem>();
                int qtdCozinha = 0;
                List<Core.Entities.PedidoItem> lstBarCozi = new List<Core.Entities.PedidoItem>();
                int qtdPronto = 0;
                List<Core.Entities.PedidoItem> lstBarPronto = new List<Core.Entities.PedidoItem>();
                int qtdCancelado = 0;
                List<Core.Entities.PedidoItem> lstBarCancelado = new List<Core.Entities.PedidoItem>();
                foreach (var item in lstItens)
                {

                    if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado)
                    {
                        qtdSolicitado += 1;
                    }
                    if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado)
                    {
                        qtdCozinha += 1;
                    }
                    if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto)
                    {
                        qtdPronto += 1;
                    }
                    if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Cancelado)
                    {
                        qtdCancelado += 1;
                    }
                }
                foreach (var item in lstItensBar)
                {
                    foreach (var itemGroup in item)
                    {
                        if (itemGroup.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado)
                        {
                            qtdSolicitado += 1;
                            lstBarSolic.Add(itemGroup);
                        }
                        if (itemGroup.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado)
                        {
                            qtdCozinha += 1;
                            lstBarCozi.Add(itemGroup);
                        }
                        if (itemGroup.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto)
                        {
                            qtdPronto += 1;
                            lstBarPronto.Add(itemGroup);
                        }
                        if (itemGroup.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Cancelado)
                        {
                            qtdCancelado += 1;
                            lstBarCancelado.Add(itemGroup);
                        }
                    }
                }
            }

            <div class="box-body">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-solicitado-tab" data-bs-toggle="tab" data-bs-target="#nav-solicitado" type="button" role="tab" aria-controls="nav-solicitado" aria-selected="true">
                            Solicitado
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @qtdSolicitado
                                <span class="visually-hidden">Qtd Solicitado</span>
                            </span>
                        </button>
                        <button class="nav-link" id="nav-cozinha-tab" data-bs-toggle="tab" data-bs-target="#nav-cozinha" type="button" role="tab" aria-controls="nav-cozinha" aria-selected="false">
                            Cozinha
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @qtdCozinha
                                <span class="visually-hidden">Qtd Preparando</span>
                            </span>
                        </button>
                        <button class="nav-link" id="nav-entregue-tab" data-bs-toggle="tab" data-bs-target="#nav-entregue" type="button" role="tab" aria-controls="nav-entregue" aria-selected="false">
                            Entregue
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @qtdPronto
                                <span class="visually-hidden">Qtd Pronto</span>
                            </span>
                        </button>
                        <button class="nav-link" id="nav-cancelado-tab" data-bs-toggle="tab" data-bs-target="#nav-cancelado" type="button" role="tab" aria-controls="nav-cancelado" aria-selected="false">
                            Cancelado
                            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                @qtdCancelado
                                <span class="visually-hidden">Qtd Cancelado</span>
                            </span>
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-solicitado" role="tabpanel" aria-labelledby="nav-solicitado-tab">
                        @*solicitado inicio*@
                        @*cozinha solicitado*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th>Cozinha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstItens.Where(x => x.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado).Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nenhum prato para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in lstItens)
                                        {

                                            if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Solicitado)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                            &nbsp;
                                                            <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                                        </div>

                                                        @foreach (var excecao in item.Excecao)
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span>  <p><b>Sem</b> @excecao.Observacao</p>
                                                            </div><br />
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.PontoCarne))
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span>  <p><b>Preparo da carne:</b> @item.PontoCarne</p>
                                                            </div><br />
                                                        }

                                                        <div class="act-btn d-flex justify-content-between">

                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="cancelarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                <small class="d-block">Cancelar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                <small class="d-block">Duplicar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                <small class="d-block">Solicitado</small>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                        @*bar solicitado*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th colspan="2">Bar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstBarSolic.Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nenhuma bebida para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var listGroupSolic = lstBarSolic.GroupBy(u => u.IdMenu).Select(grp => grp.ToList()).ToList();

                                        int contaLinhas = 1;
                                        foreach (var item in listGroupSolic)
                                        {
                                            var objSolic = item.FirstOrDefault();
                                            int totalSolic = lstBarSolic.Where(x => x.IdMenu == objSolic.IdMenu).Count();
                                            <tr class="clickable" data-toggle="collapse" id="rowSolcitado_@contaLinhas" data-target=".row_@contaLinhas">
                                                <td>
                                                    <i class="glyphicon glyphicon-plus" onclick="mostraFilhos('rowSolcitado_@contaLinhas')"></i>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                        &nbsp;
                                                        <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@totalSolic @objSolic.Menu.Nome</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                            foreach (var itemGroup in lstBarSolic)
                                            {
                                                if (objSolic.IdMenu == itemGroup.IdMenu)
                                                {
                                                    <tr class="collapse rowSolcitado_@contaLinhas" style="background-color:#fff1e4">
                                                        <td>Item</td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                                &nbsp;
                                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">1 @itemGroup.Menu.Nome</h6>
                                                            </div>


                                                            <div class="act-btn d-flex justify-content-between">

                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="cancelarItem('@itemGroup.Id',1)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                    <small class="d-block">Cancelar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="duplicarItem('@itemGroup.Id')" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Duplicar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Solicitado</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            contaLinhas++;
                                        }
                                    }

                                </tbody>
                            </table>
                            @*bar solicitado*@

                            <div class="d-none d-md-block">
                                @if (Model.CanCancel)
                                {
                                    <button class="btn btn-danger pull-right cancelar-pedido"><i class="fa fa fa-trash"></i> Cancelar</button>
                                }

                                @if (Model.CanSend)
                                {
                                    <button class="btn btn-success pull-right " onclick="enviarPedido()"><i class="fa fa fa-cutlery"></i> Preparar</button>
                                }

                                @if (Model.CanFecharPedido && (usuario.Role == Settings.Role.Caixa || usuario.Role == Settings.Role.Gerente))
                                {
                                    <button class="btn btn-primary pull-right fechar-pedido"><i class="fa fa fa-dollar"></i> Fechar Conta</button>
                                }

                                <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                            </div>
                        </div>
                        @*solicitado fim*@
                    </div>
                    <div class="tab-pane fade" id="nav-cozinha" role="tabpanel" aria-labelledby="nav-cozinha-tab">
                        @*cozinha inicio*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th>Cozinha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstItens.Where(x => x.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado).Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nada para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in lstItens)
                                        {
                                            if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Enviado)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <i class="fa fa-cutlery" style="margin-top: -8px;color: orange;"></i>
                                                            &nbsp;
                                                            <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                                        </div>


                                                        @foreach (var excecao in item.Excecao)
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span> <p><b>Sem</b> @excecao.Observacao</p>
                                                            </div><br />
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.PontoCarne))
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span>  <p><b>Preparo da carne:</b> @item.PontoCarne</p>
                                                            </div><br />
                                                        }

                                                        <div class="act-btn d-flex justify-content-between">
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="cancelarItemQuantoEmPreparo(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                <small class="d-block">Cancelar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                <small class="d-block">Duplicar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="setItemEntregue(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-cutlery"></i></a>
                                                                <small class="d-block">Clique quando Entregue</small>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>

                    
                        </div>
                        @*bar cozinha*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th colspan="2">Bar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstBarCozi.Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nenhuma bebida para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var listGroupCozinha = lstBarCozi.GroupBy(u => u.IdMenu).Select(grp => grp.ToList()).ToList();

                                        int contaLinhasCozinha = 1;
                                        foreach (var item in listGroupCozinha)
                                        {
                                            var objCozinha = item.FirstOrDefault();
                                            int totalCozinha = lstBarCozi.Where(x => x.IdMenu == objCozinha.IdMenu).Count();
                                            <tr class="clickable" data-toggle="collapse" id="rowCozinha_@contaLinhasCozinha" data-target=".row_@contaLinhasCozinha">
                                                <td>
                                                    <i class="glyphicon glyphicon-plus" onclick="mostraFilhos('rowCozinha_@contaLinhasCozinha')"></i>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                        &nbsp;
                                                        <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@totalCozinha @objCozinha.Menu.Nome</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                            foreach (var itemGroup in lstBarCozi)
                                            {
                                                if (objCozinha.IdMenu == itemGroup.IdMenu)
                                                {
                                                    <tr class="collapse rowCozinha_@contaLinhasCozinha" style="background-color:#fff1e4">
                                                        <td>Item</td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                                &nbsp;
                                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">1 @itemGroup.Menu.Nome</h6>
                                                            </div>


                                                            <div class="act-btn d-flex justify-content-between">

                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="cancelarItem('@itemGroup.Id',1)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                    <small class="d-block">Cancelar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="duplicarItem('@itemGroup.Id')" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Duplicar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="setItemEntregue('@itemGroup.Id')" class=" waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Marca Entrega</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            contaLinhasCozinha++;
                                        }
                                    }

                                </tbody>
                            </table>
                            @*bar solicitado*@

                            <div class="d-none d-md-block">
                                @if (Model.CanCancel)
                                {
                                    <button class="btn btn-danger pull-right cancelar-pedido"><i class="fa fa fa-trash"></i> Cancelar</button>
                                }

                                @if (Model.CanSend)
                                {
                                    <button class="btn btn-success pull-right "><i class="fa fa fa-shopping-cart"></i> Preparar</button>
                                }

                                @if (Model.CanFecharPedido && (usuario.Role == Settings.Role.Caixa || usuario.Role == Settings.Role.Gerente))
                                {
                                    <button class="btn btn-primary pull-right fechar-pedido"><i class="fa fa fa-dollar"></i> Fechar Conta</button>
                                }

                                <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                            </div>
                        </div>
                        @*cozinha fim*@
                    </div>
                    <div class="tab-pane fade" id="nav-entregue" role="tabpanel" aria-labelledby="nav-entregue-tab">
                        @*entregue inicio*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th>Cozinha</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @if (lstItens.Where(x => x.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto).Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nada para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in lstItens)
                                        {
                                            if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Pronto)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <i class="fa fa-cutlery" style="margin-top: -8px;color: green;"></i>
                                                            &nbsp;
                                                            <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                                        </div>

                                                        @foreach (var excecao in item.Excecao)
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span> <p><b>Sem</b> @excecao.Observacao</p>
                                                            </div><br />
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.PontoCarne))
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span>  <p><b>Preparo da carne:</b> @item.PontoCarne</p>
                                                            </div><br />
                                                        }

                                                        <div class="act-btn d-flex justify-content-between">
                                                            <div class="text-center mx-5">
                                                                <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-primary-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                <small class="d-block">Cancelar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                <small class="d-block">Duplicar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-check"></i></a>
                                                                <small class="d-block">Entregue</small>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                         
                        </div>
                        @*bar entregue*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th colspan="2">Bar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstBarPronto.Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nenhuma bebida para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var listGroupPronto = lstBarPronto.GroupBy(u => u.IdMenu).Select(grp => grp.ToList()).ToList();

                                        int contaLinhasPronto = 1;
                                        foreach (var item in listGroupPronto)
                                        {
                                            var objPronto = item.FirstOrDefault();
                                            int totalPronto = lstBarPronto.Where(x => x.IdMenu == objPronto.IdMenu).Count();
                                            <tr class="clickable" data-toggle="collapse" id="rowPronto_@contaLinhasPronto" data-target=".row_@contaLinhasPronto">
                                                <td>
                                                    <i class="glyphicon glyphicon-plus" onclick="mostraFilhos('rowPronto_@contaLinhasPronto')"></i>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                        &nbsp;
                                                        <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@totalPronto @objPronto.Menu.Nome</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                            foreach (var itemGroup in lstBarPronto)
                                            {
                                                if (objPronto.IdMenu == itemGroup.IdMenu)
                                                {
                                                    <tr class="collapse rowPronto_@contaLinhasPronto" style="background-color:#fff1e4">
                                                        <td>Item</td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                                &nbsp;
                                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">1 @itemGroup.Menu.Nome</h6>
                                                            </div>


                                                            <div class="act-btn d-flex justify-content-between">

                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="cancelarItem('@itemGroup.Id',1)" class="waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                    <small class="d-block">Cancelar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="duplicarItem('@itemGroup.Id')" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Duplicar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Entregue</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            contaLinhasPronto++;
                                        }
                                    }

                                </tbody>
                            </table>
                            @*bar solicitado*@
                            <div class="d-none d-md-block">
                                @if (Model.CanCancel)
                                {
                                    <button class="btn btn-danger pull-right cancelar-pedido"><i class="fa fa fa-trash"></i> Cancelar</button>
                                }

                                @if (Model.CanSend)
                                {
                                    <button class="btn btn-success pull-right " onclick="enviarPedido()"><i class="fa fa fa-shopping-cart"></i> Preparar</button>
                                }

                                @if (Model.CanFecharPedido && (usuario.Role == Settings.Role.Caixa || usuario.Role == Settings.Role.Gerente))
                                {
                                    <button class="btn btn-primary pull-right fechar-pedido"><i class="fa fa fa-dollar"></i> Fechar Conta</button>
                                }

                                <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                            </div>
                        </div>
                        @*entregue fim*@
                    </div>
                    <div class="tab-pane fade" id="nav-cancelado" role="tabpanel" aria-labelledby="nav-cancelado-tab">
                        @*cancelado inicio*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th>Cozinha</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstItens.Where(x => x.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Cancelado).Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nada para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in lstItens)
                                        {
                                            if (item.IdStatusPedidoItem == (int)Settings.Status.PedidoItem.Cancelado)
                                            {
                                                <tr>
                                                    <td>
                                                        <div class="d-flex align-items-center">
                                                            <i class="fa fa-cutlery" style="margin-top: -8px;color: green;"></i>
                                                            &nbsp;
                                                            <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@item.Menu.Nome</h6>
                                                        </div>

                                                        @foreach (var excecao in item.Excecao)
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span> <p><b>Sem</b> @excecao.Observacao</p>
                                                            </div><br />
                                                        }
                                                        @if (!string.IsNullOrEmpty(item.PontoCarne))
                                                        {
                                                            <div style="display: inline-flex; margin-left: 20px;">
                                                                <span class="mdi mdi-subdirectory-arrow-right"></span>  <p><b>Preparo da carne:</b> @item.PontoCarne</p>
                                                            </div><br />
                                                        }

                                                        <div class="act-btn d-flex justify-content-between">
                                                            <div class="text-center mx-5">
                                                                <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-primary-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                <small class="d-block">Cancelar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" onclick="duplicarItem(@item.Id)" class="waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                <small class="d-block">Duplicar</small>
                                                            </div>
                                                            <div class="text-center mx-5">
                                                                <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-ban"></i></a>
                                                                <small class="d-block">Cancelado</small>
                                                            </div>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>

                         
                        </div>
                        @*bar cancelado*@
                        <div class="table-responsive">
                            <table class="table product-overview">
                                <thead>
                                    <tr style=" background-color: burlywood;">
                                        <th colspan="2">Bar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (lstBarCancelado.Count() == 0)
                                    {
                                        <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"> Nenhuma bebida para mostrar</h6>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var listGroupCancelado = lstBarCancelado.GroupBy(u => u.IdMenu).Select(grp => grp.ToList()).ToList();

                                        int contaLinhasCancelado = 1;
                                        foreach (var item in listGroupCancelado)
                                        {
                                            var objCancelado = item.FirstOrDefault();
                                            int totalCancelado = lstBarCancelado.Where(x => x.IdMenu == objCancelado.IdMenu).Count();
                                            <tr class="clickable" data-toggle="collapse" id="rowCancelado_@contaLinhasCancelado" data-target=".row_@contaLinhasCancelado">
                                                <td>
                                                    <i class="glyphicon glyphicon-plus" onclick="mostraFilhos('rowCancelado_@contaLinhasCancelado')"></i>
                                                </td>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                        &nbsp;
                                                        <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">@totalCancelado @objCancelado.Menu.Nome</h6>
                                                    </div>
                                                </td>
                                            </tr>
                                            foreach (var itemGroup in lstBarCancelado)
                                            {
                                                if (objCancelado.IdMenu == itemGroup.IdMenu)
                                                {
                                                    <tr class="collapse rowCancelado_@contaLinhasCancelado" style="background-color:#fff1e4">
                                                        <td>Item</td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <i class="fa fa-cutlery" style="margin-top: -8px;color: red;"></i>
                                                                &nbsp;
                                                                <h6 style="max-width: 24ch; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">1 @itemGroup.Menu.Nome</h6>
                                                            </div>


                                                            <div class="act-btn d-flex justify-content-between">

                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="cancelarItem('@itemGroup.Id',1)" class="disabled waves-effect waves-circle btn btn-circle btn-danger-light btn-xs mb-5"><i class="fa fa-trash"></i></a>
                                                                    <small class="d-block">Cancelar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" onclick="duplicarItem('@itemGroup.Id')" class=" disabled waves-effect waves-circle btn btn-circle btn-info-light btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Duplicar</small>
                                                                </div>
                                                                <div class="text-center mx-5">
                                                                    <a href="#" class="disabled waves-effect waves-circle btn btn-circle btn-success btn-xs mb-5"><i class="fa fa-plus-square-o"></i></a>
                                                                    <small class="d-block">Cancelado</small>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            contaLinhasCancelado++;
                                        }
                                    }

                                </tbody>
                            </table>
                            @*bar solicitado*@

                            <div class="d-none d-md-block">
                                @if (Model.CanCancel)
                                {
                                    <button class="btn btn-danger pull-right cancelar-pedido"><i class="fa fa fa-trash"></i> Cancelar</button>
                                }

                                @if (Model.CanSend)
                                {
                                    <button class="btn btn-success pull-right " onclick="enviarPedido()"><i class="fa fa fa-shopping-cart"></i> Preparar</button>
                                }

                                @if (Model.CanFecharPedido && (usuario.Role == Settings.Role.Caixa || usuario.Role == Settings.Role.Gerente))
                                {
                                    <button class="btn btn-primary pull-right fechar-pedido"><i class="fa fa fa-dollar"></i> Fechar Conta</button>
                                }

                                <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
                            </div>
                        </div>
                        @*cancelado fim*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


