@model Core.Entities.Pedido
@using CrossCutting
@inject Core.Interfaces.IUserSession usuario;


@{
    var model = Newtonsoft.Json.JsonConvert.SerializeObject(Model);
    List<Core.Entities.Categoria> lstCategorias = (List<Core.Entities.Categoria>)ViewBag.Categorias;
    var categorias = Newtonsoft.Json.JsonConvert.SerializeObject(lstCategorias);

}

<script type="text/javascript">
    var objPedido = JSON.parse('@Html.Raw(model)');
    var lstCategorias = JSON.parse('@Html.Raw(categorias)');

    function manageImageError(obj) {
        $(obj).attr('src', hostSite() + 'admin/images/produto-sem-imagem-18.jpg')
    }
</script>


<div class="content-header">
    <div class="d-flex align-items-center">
        <div class="me-auto" id="menu">
            <input type="hidden" id="hdIdMesa" value="@ViewBag.IdMesa" />
            <input type="hidden" id="hdIdPedido" value="@ViewBag.IdPedido" />
            @foreach (var categoria in (List<Core.Entities.Categoria>)ViewBag.Categorias)
            {
                <h3 class="page-title" style="">@categoria.Nome</h3><hr />
                <div class="row">
                    @foreach (var menu in categoria.Menu)
                    {
                        <div class="col-xxxl-3 col-xl-4 col-lg-6 col-12">
                            <div class="box food-box">
                                <div class="box-body text-center">
                                    @*<div class="menu-item"><img src="~/admin/images/food/dish-1.png" class="img-fluid w-p75" alt=""></div>*@
                                    <div class="menu-item"><img onerror="javascript:manageImageError(this)" src="@menu.ImageUrl" class="img-fluid w-p75" alt=""></div>
                                    <div class="menu-details text-center">
                                        <h5 class="mt-20 mb-10">@menu.Nome</h5>
                                    </div>
                                    <div class="act-btn d-flex justify-content-between">
                                        <div class="text-center mx-5">
                                            <a href="#" data-bs-toggle="modal" data-bs-target="#modalDetalhesMenu" onclick="showMenuDetails(@menu.Id)" class="waves-effect waves-circle btn btn-circle btn-success-light btn-xs mb-5"><i class="fa fa-plus fa-2x"></i></a>
                                            <small class="d-block">Adicionar</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    @Html.Partial("_MenuDetalhes")
    <div id="resultadoItens">
        @Html.Partial("_ListaItens", Model)
    </div>

</div>
<style>
    .footButtons {
        background-color: #f3f2f7;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 50px;
        margin-bottom: 0px;
        z-index: 999;
        opacity: 0.7;
    }
</style>
@*area de botoes que aparecem em celular*@
<div class="d-sm-none footButtons">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="box-footer" style=" padding: 5px;">
                @if (Model.CanCancel)
                {
                    <button class="btn btn-danger pull-right cancelar-pedido"><i class="fa fa fa-trash"></i> Cancelar</button>
                }

                @if (Model.CanSend)
                {
                    <button class="btn btn-success pull-right enviar-pedido"><i class="fa fa fa-shopping-cart"></i> Enviar</button>
                }

                @if (Model.CanFecharPedido && (usuario.Role == Settings.Role.Caixa || usuario.Role == Settings.Role.Gerente))
                {
                    <button class="btn btn-primary pull-right fechar-pedido"><i class="fa fa fa-dollar"></i> Fechar Conta</button>
                }

                <a href="#menu" class="btn btn-default"><i class="fa fa-arrow-up"></i> Menu</a>
            </div>
        </div>
    </div>
</div>
@*area de botoes que aparecem em celular*@

@section Scripts
{<script src="~/admin/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
    <script src="~/admin/js/viewsScript/sales/order.js?cache=@ViewData["version"].ToString()"></script>
}
